.App {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f8f9fa;
}

.App em {
  text-decoration: red underline wavy;
}

.App .document {
  background-color: rgb(255, 255, 255);
  width: 794px;
  height: 1123px;
  box-shadow: 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.App .document .content {
  margin: 96px;
}
